body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  width: 1200px;
  margin-inline: auto;
  text-align: center;
  display: block;
}

.logo-cntr {
  text-align: left;
  background-color: #131921;
  padding-bottom: 3px;
}

.logo-amazon {
  width: 200px;
}

.caption {
  color: white;
  background-color: #232f3e;
  padding-right: 800px;
}

main {
  background-color: rgb(255, 243, 243);
}

.banner {
  background-color: rgb(255, 106, 0);
  padding: 5px;
  margin-top: 35px;
  color: white;
  margin-left: 32px;
  margin-right: 32px;
}

.ad-container {
  background-image: url(../images/bg-image.png);
  color: white;
  padding: 20px;
  margin: 35px;
}

#imgs {
  height: 300px;
  padding: 10px;
  width: 23%;
  display: inline-block;
  text-align: left;
  border-radius: 25px;
  object-fit: cover;
}

.imgs-container {
  padding: 10px;
  text-align: left;
  display: inline block;
}

.img9-container {
  width: 100%;
}

.img10-container {
  width: 100%;
}

.logo-footer {
  background-color: #131921;
  padding: 30px;
}

.link-top {
  background-color: #232f3e;
  color: white;
  padding: 5px;
}

#logo-amazon {
  width: 80px;
}
